
.App {
  width: 100%;
  height:100vh;
  background-color:aqua
}
/* main title*/
h1 {
  font-weight: bolder;
  text-decoration: underline ;
  letter-spacing:2px;
  width:fit-content;
  margin:auto;
  color:tomato;
  text-shadow: black;
  margin-top: 1vh;
}
/*
==============================
time adjusters
==============================
break length
*/
.breakLength {
  background-color: transparent;
  width: 43%;
  height:96%;
  text-align:center;
  justify-content:space-between;
  font-size: calc(10px + 2vmin);
  float:right;
  border-radius:2cm;
  margin:3px;
  border:2px solid grey;
  padding-top:5px;

}
/* session length*/
.sessionLength{
  background-color:transparent;
  width: 43%;
  height:96%;
  text-align: center;
  float:left;  
  font-size: calc(10px + 2vmin);
  border-radius:2cm;
  border: 2px solid grey;
  margin:3px;
  padding-top:5px;
}

.controls {
  width:50%;
  height:29vh;
  background-color:transparent;
  margin:auto;
  margin-top:3rem;
}

/*
=================================
CLOCK DIV
=================================
*/
.timer {
  width: 50vw;
  height: 40vh;
  margin:auto;
  margin-top:5vh;
  text-align: center;
  border-radius:30px 30px 30px 30px;
  border: 10px solid grey;
  padding:10px;
  align-items:center;
}

.time {
  font-size:10vmin;
}

#btnpause {
  margin:4%;
  width:calc()
}

#btnstart {
  margin:4%;
}

#btnreset {
  margin:4%;
}
